//Gray
$poke-dark-1: #F2F1F1 !default;
$poke-dark-2: #D8D8D8 !default;
$poke-dark-3: #606C78 cdefault;
$poke-dark-4: #1F2532 !default;

$poke-clear: $poke-dark-1 !default;
$poke-dark: $poke-dark-4 !default;

//Others
$poke-blue: #4A90E2 !default;
$poke-purple: #BE93E7 !default;
$poke-orange: #E85B0E !default;
$poke-green: #A0DA5E !default;
