@import '../../styles/variables';
@import '../../styles/utils';


.pokemon-short-element-container {
  $border-radius-card: 7.5px;
  $title-margin-top-size: 6px;
  $title-font-size: 1rem;
  $card-width: 216px;
  $card-height: 238px;
  $types-height: 22px;
  position: relative;
  display: block;
  background-color: #{$poke-dark-1};
  margin: 0 !important;
  margin-right: 13px !important;
  margin-bottom: 60px !important;
  padding: 0 !important;
  border-radius: #{$border-radius-card} !important;
  max-width: #{$card-width};
  max-height: $card-height;
  min-height: $card-height;
  height: $card-height;

  &:hover {
    cursor: pointer;
  }

  &.loading:hover {
    cursor: wait !important;
  }


  .title {
    padding: #{$title-margin-top-size} 0 0 6px;
    margin: 0;
    font-size: #{$title-font-size} !important;
    text-transform: capitalize;
    line-height: 1;
  }

  &:nth-child(4n) {
    margin-right: 0 !important;
  }
}
