@import '../styles/variables';

html, body {
  background: no-repeat url($body-bck-image-path);
  /*TODO: Add polyfill to background-size:cover property*/
  background-size: cover;
}

header.main-nav {
  min-height: $app-header-width;
  max-height: $app-header-height;
  height: $app-header-width;

  nav {
    min-height: inherit !important;
    max-height: inherit !important;
    height: inherit !important;
    margin: 0 auto;
  }
}

#nav-title {
  height: 100%;
  padding: 16px 0;
  font-weight: bold !important;
  font-size: 18px !important;
}

@media (min-width: #{$page-container-max-width}) {
  .page-container {
    max-width: $page-container-max-width !important;
  }
}
