$page-container-max-width: 1024px !default;

html, body {
  background: no-repeat url("../assets/img/Background_2.png");
  /*TODO: Add polyfill to background-size:cover property*/
  background-size: cover;
}

header {
  min-height: 50px;
  max-height: 50px;
  height: 50px;

  nav {
    min-height: inherit !important;
    max-height: inherit !important;
    height: inherit !important;
  }
}

#nav-title {
  height: 100%;
  padding: 16px 0;
  font-weight: bold !important;
  font-size: 18px !important;
}

.page-container {
  max-width: $page-container-max-width !important;
  margin: 0 auto !important;
}
