@import '../../../styles/variables';
@import '../../../styles/utils';

.pokemon-detail-container {
  padding: 0 0 54px 32px;

  .col {
    padding: 0;
  }

  #pokemon-detail-title {
    margin-bottom: 32px;
    clear: both;
  }


  .custom-pokemon-image-size {
    display: block;
    position: relative;
    $card-width: 510px;
    $card-height: 496px;
    $types-height: 50px;
    outline: 1px red solid;
    width: $card-width !important;
    height: $card-height !important;
  }

  .pokemon-btn-explore-more-wrapper {
    button {
      background-color: $poke-orange;
      min-width: 210px;
      max-width: 210px;
      width: 210px;
      text-transform: uppercase;
    }
  }
}
