/*styles for home content only*/

.home-container {
  padding: 54px 60px 0 60px;
}

#home-title {
  margin-bottom: 54px;
}

#home-poke-list-container {
  margin-bottom: 60px;
  height: 200px;
  width: 100%;
}

.home-btn-load-more-wrapper {
  margin: 0 auto;

  button {
    background-color: #4A90E2;
    min-width: 210px;
    max-width: 210px;
    width: 210px;
    min-height: 40px;
    max-height: 40px;
    height: 40px;
  }
}
